
body,h1,h2,h3,h4,h5,p,a{
    margin: 0px;
 text-decoration: none;
}

a{
    color:black;
}
.header_container{
    width:100%;
    margin: 5px;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.header_content{
    max-width: 1200px;
    background-color:aquamarine;
  display: flex;
  flex:1;
  
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.menu_items{
    display:flex;
    flex: 1;
    justify-content: space-around;
    
}
.button{
    background-color:aquamarine;
    margin:5px;
    text-decoration:none;
    font-size:20px;
    display: flex;
    flex-direction:row;
    margin:0 auto;

}
.button:link{
    color: blueviolet;
}
.button:visited{
    color: blueviolet;
}
.button:hover{
    color:rgb(50, 50, 50);
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 350px;
  background-color:aquamarine;
  border: 2px solid;
padding-left:10px;
padding-right:10px;
  border-color: blueviolet;
 
}

.button1{
margin: 5px;
display: flex;
justify-content: space-around;
flex-direction: column;
background-color:blueviolet;
border-radius: 4px;
font-size: 30px;
  padding-top:10px;
  padding-bottom:10px;
}
.button1:hover{
    color:rgb(50, 50, 50);
}